*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header h1{
  font-size: 40px;
}

body .container{
  max-width: 700px !important;
}

.current-weather{
  background-color: #ECEFF1;
  font-size: 20px;
}

.daily-weather{
  background-color: #CFD8DC;
}

.hourly-weather{
  background-color: lightSteelBlue;
}

.current-weather .current-temperature{
  font-size: 30px;
  font-weight: 500;
  margin-top: 10px;
}

.current-weather .weather-status > img, .current-weather .weather-status > .weather-text{
  display: inline-block;
}

.current-weather .weather-status > img{
  width: 75px;
}

.current-weather .weather-status > .weather-text{
  font-size: 22px;
  font-weight: 500;
}

.last-update{
  position: relative;
  font-size: 16px;
}

.last-update .btn-update-weather{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  width: 30px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  outline: 0;
  border: 0;
  transition: all .3s ease;
}

.btn-update-weather.active img{
  outline: 0;
  
  animation: rotateUpdate .7s;
}

@keyframes rotateUpdate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(-180deg);
  }
}

.btn-update-weather > img{
  max-width: 100%;
}

.daily-weather .temperature {
  font-size: 18px;
}